<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Pyramid</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="content-area">
    <header>
      <h1>The Healthy Eating Pyramid</h1>
    </header>
    
    <main>
      <section class="row">
        <aside class="column side">
          <ul>
            <li>Go Foods</li>
            <li>Grow Foods</li>
            <li>Glow Foods</li>
          </ul>
        </aside>
        
        <article class="column mid">
          <h2>The Food Pyramid A Guide to a Balanced Diet</h2>
          <p>Balanced diet is a key to stay healthy. Follow the "Healthy Eating Food Pyramid" guide as you pick your food. Grains should be taken as the major dietary source. Eat more fruit and vegetables. Have a moderate amount of meat, fish, egg, milk and their alternatives. Reduce salt, fat/ oil and sugar. Trim fat from meat before cooking. Choose low-fat cooking methods such as steaming, stewing, simmering, boiling, scalding or cooking with non-stick frying pans. 
            Also reduce the use of frying and deep-frying. These can help us achieve balanced diet and promote health.</p>
        </article>
        
        <aside class="column side">
          <h2>Created by:</h2>
          <ul>Mark Olofornes</ul>
          <ul>Jomar Neri</ul>
          <ul>Jomar Clado</ul>
          <ul>Justin Masiga</ul>
          <ul>Lourdame Loquere</ul>
        </aside>
      </section>
    </main>

    <footer>
      <p>Copyright @2022</p>
    </footer>
  </div>
</body>
</html>